body {
  background-color: lightgray;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  margin: 20px 20px 20px 20px;
}

h1.HeaderSize {
  font-size: 26px;
}

table {
  width: 500px;
  margin: 20px 20px 20px 20px;
}

table th {
  background-color: lightblue;
  color: black;
  padding: 5px 20px 5px 20px;
}

table td {
  padding: 5px 20px 5px 20px;
  background-color: beige;
}

form {
  background-color: lightgreen; 
  margin: 20px 20px 20px 20px;
}

.button {
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 5px 20px;
}